.modal__title {
  font-size: 26px;
  font-weight: 500;
  color: var(--main-color);
}
.calculator__close svg {
  width: 40px;
  height: 40px;
}
.calculator__form {
  width: 700px;
  min-height: 400px;
  padding: 0 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  transition: 1s var(--cubic-out);
  transition-delay: 1s;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .form__left,
  .form__right {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .form__item {
    margin-top: 20px;
    width: 300px;
    @media (max-width: 768px) {
      width: 100%;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      color: var(--text-color-gray);
    }
    input {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      padding: 0 10px;
      border-radius: 5px;
      outline: none;
      border: 1px solid hsl(0, 0%, 80%);
      font-size: 18px;
      color: var(--input-text-color);
    }
    .filter__select {
      margin-top: 10px;
      width: 300px;
      height: 50px;

      @media (max-width: 500px) {
        max-width: 500px;
      }
    }
    p {
      margin-top: 5px;
      color: var(--text-color-gray);
    }
    button {
      width: 300px;
      height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid var(--main-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color: var(--main-color);
      color: var(--text-color-white);
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 100%;
      }
      &:hover {
        color: var(--main-color);
        background-color: var(--text-color-white);
        transition: 0.5s;
      }
    }
  }
  .item__slider {
    width: 100%;
    position: relative;
    .slider__advice {
      position: absolute;
      bottom: 5px;
      left: 70px;
      opacity: 0.8;
    }
  }
  .item__flex {
    display: flex;
    width: 300px;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
    }
    h3 {
      font-size: 17px;
    }
    h4 {
      font-size: 20px;
      margin-top: 10px;
      font-weight: 500;
      color: var(--input-text-color);
    }
    p {
      color: var(--text-color-gray);
      font-size: 14px;
    }
  }
}
